@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(fundo.png);
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timer-container {
    width: 72%;
    max-width: 358px;
display: flex;
color: #fff;
justify-content: end;
align-items: center;
}

#timer {
font-size: 24px;
font-weight: bold;
margin-left: 4px;
}

.quadrado {
    border: 2px solid #ff1919;
    max-width: 380px;
    width: 80%;
    height: auto;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 0px;

}
.topo{
    display: flex;
    align-items: center;
}

p {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: auto;
    text-align: center;
}

.topo p{
    margin-left: 15%;
}
.contas {
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 121px;
    height: 50px;
    margin-top: 12px;
    margin-bottom: 0;
    text-align: center;
}
.bot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.bot div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.operacoes {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 11px;
}

.pprincipal {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
    text-align: justify;
    padding: 10px;
}

.titulo {
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 18px;
}
.botoes-iniciais{
    display: flex;
    justify-content: space-around;
}

button {
    background-image: linear-gradient(40deg, #333, #ff1919);
    margin: 10px 19px;
    padding: 10px;
    font-size: 16px;
    width: 120px;
    height: 70px;
    font-weight: bold;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    border: none;
}
.botao{
    margin: 0;
}

.respBotao {
    padding: 10px 20px;
    height: 65px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 68%;
    max-width: 141px;
}
.nome {
    color: white;
    font-size: 15px;
    padding: 10px;
    cursor: wait;
}

a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

#voltar {
    background-image: url('icons/de-volta.png');
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: -16px;
    margin-top: -14px;
}

.div-reiniciar{
    height: 36px;
    width: 105%;
    max-width: 369px;
    display: flex;
    justify-content: end;
}
.mostrador{
    display: flex;
    width: 80%;
    max-width: 433px;
    margin-top: 10px;
    justify-content: space-around;
}
#reiniciar {
    background: url(icons/atualizar\(1\).png);
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0px;
}

#correto {
    display: flex;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    height: 26px;
    width: auto;
    padding: 17px 5px;
    align-items: center;
    justify-content: center;
    margin: 0;
}
#pontuacao{
    margin: 0;
    font-size: 18px;
    margin-top: 7px;
}

#contador {
    font-size: 24px;
    color: #333;
    background-color: beige;
}

@media screen and (max-width: 600px) {
    .titulo {
        font-size: 24px;
    }


    button {
        width: 90px;
        height: 60px;
        font-size: 15px;
    }

    .nome {
        font-size: 13px;
    }

    p {
        font-size: 22px;
    }

    .contas {
        height: 50px;
    }

    .bot {
        margin-top: 15%;
    }

    .respBotao {
        width: 100px;
        height: 60px;
        margin: 10px 10px;
        font-size: 15px;
    }

}
